.container{
	width: 100%;
}

.replyContainer{
	width: 95%;
	margin-left: 5%;
}

.pic{
    float: left; 
    clear: right; 
    margin-top: -6px; 
    margin-right: 6px; 
}

.text{
	margin: 10px;
	padding: 6px;
    border: 1px solid #1F54BC;
    border-radius: 12px;
}

.replyButton{
    clear: right; 
    float: right; 
    margin-top: -4px; 
}
