tbody tr:nth-child(odd) {
	background-image: url("../../images/bgs/forumbg1.png");
}

tbody tr:nth-child(even) {
	background-image: url("../../images/bgs/forumbg2.png");
}

#categoryView_info-table{
	background-image: url("../../images/bgs/topbg.png");
    color: #FFFFFF;
	width: 100%;
	margin: 0px;
	height: 43px;
}

.category{
	background-image: url("../../images/bgs/headerbg.png");
    color: #FFFFFF;
    height: 41px;
}

.subForumView{
	background-image: url("../../images/bgs/forumbg1.png");
}

.subForumTable{
	width: 100%;
}

.subForumTitle{
	border-right: 2px solid #B0C0C0;
	height: 61px;
	width: 55%;
}

.subForumNewThreads{
	border-right: 2px solid #B0C0C0;
	text-align: center;
	width: 15%;
	left: 55%;
}

.subForumThreads{
	border-right: 2px solid #B0C0C0;
	text-align: center;
	width: 15%;
	left: 70%;
}

.subForumPosts{
	text-align: center;
	width: 15%;
	left: 85%;
}

.newSubForum{
	background-image: url("../../images/bgs/forumbg1.png");
	height: 61px;
}

.newCategory{
	background-image: url("../../images/bgs/headerbg.png");
    height: 41px;
	width: 100%;
    color: #FFFFFF;
}