.categoryTitle{
	background-color: red;
}

.subForumContainerListHead{
    background-color: green;
    width: 100%;
    overflow: auto;
}

.title{
    background-color: maroon;
    float: left;
    width: 55%;
    padding: 1% 0;
}

.newThreads{
    float: left;
    -border-right: thin black solid;
    display: block;
    text-align: center;
    width: 15%;
    background-color: aqua;
}
.newThreads p{
    padding: 10% 0;
    border-right: thin black solid;
}

.threads{
    float: left;
    background-color: yellow;
    -border-left: thin black solid;
    -border-right: thin black solid;
    display: block;
    text-align: center;
    width: 15%;
    background-color: lime;
    padding: 1% 0;
}

.posts{
    float: left;
    -border-left: thin black solid;
    display: block;
    text-align: center;
    width: 15%;
    background-color: yellow;
    padding: 1% 0;
}

.subForums{
    clear: left;
}