/* This file is intended to contain the CSS for our forum app. */

.forumMenu {
	background-image: url(images/bgs/topmenubg.png);
    position: fixed;
    margin-left: -13px;
	width: 100%;
}

.menuItemFloatText {
    color: #FFFFFF;
    position: relative;
    font-size: 140%;
    font-weight: bold;
    text-align: center;
    text-shadow:
	-1px 0px #006699,
	1px 0px #006699,
	0px 1px #006699,
	0px -1px #006699,
	0px 0px 3px #006699,
	0px 0px 3px #006699,
	0px 0px 3px #006699,
	0px 0px 3px #006699,
	0px 0px 3px #006699,
	0px 0px 3px #006699;
}

.forumMenu .normal-icon {
    margin-left: 14px;
	width: 70px;
	height: 64px;
}
.forumMenu .small-icon {
    margin-left: 56px;
	width: 29px;
	height: 18px;
	position: absolute;
	top: 0%;
	left: 139px;
}
.forumMenu .onyx-icon:hover {
	cursor: pointer;
}

.forumMenu .onyx-icon.active {
	background-position: 0 0 !important;
}