body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, p, ul, li {
	padding: 0;
	margin: 0;
	font-weight: normal;
}

li, ul {
	list-style: none;
}

/*** csscreator hack ***/
.floatcontainer:after{
    content: "."; 
    display: block; 
    height: 0; 
    font-size:0;	
    clear: both; 
    visibility:hidden;
    }
	
   .floatcontainer{display: inline-block;} 

    /* Hides from IE Mac */
    * html .floatcontainer {height: 1%;}
       .floatcontainer{display:block;}
    /* End Hack */ 
/****************/

.threadContainerHead {
	background-image: url(images/bgs/headerbg.png);
	height: 41px;
	font-size: 24pt;
	color: #FFF;
	vertical-align: middle;
	padding-left: 5px;
	border: 1px solid #000;
	line-height: 41px;
}

.threadContainerListHead {
	background-image: url(images/bgs/topbg.png);
}

.threadContainerListHead p {
	padding-left: 5px;
}

.threadContainerListHead div {
	height: 43px;
	color: #FFF;
	font-size: 20pt;
	line-height: 43px;
}

.topic, .lastPost, .posts {
	float: left;
}

.topic {
	width: 70%;
}

.lastPost {
	width: 18%;
}

.posts {
	width: 10%;
}

.threadContainerListHead .posts {
	border-left: 1px solid #FFF;
}

.threads li:nth-child(even) {
	background-image: url(images/bgs/forumbg2.png);
}
.threads li:nth-child(odd) {
	background-image: url(images/bgs/forumbg1.png);
}

.thread .topic, .thread .lastPost, .thread .posts {
	height: 65px;
}


.thread .topic {
	border-right: 1px #adb9c2 solid;
}
.thread .lastPost {
	border-right: 1px #adb9c2 solid;
}

.thread .topic h2 {
	padding-left: 10px;
	padding-top: 5px;
}

.thread .topic p {
	padding-left: 10px;
}

.thread .lastPost p {
	margin-top: 10px;
	margin-right: 5px;
	text-align: right;
}

.thread .posts {
	font-size: 25pt;
	line-height: 65px;
	text-align: center;
}

/************PostView*****************/

.post {
    border: 1px solid #1F54BC;
    border-radius: 12px;
    width: 95%;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 3%;
    background-color: #DCE4F2;
}

.post .avatar {
    border: 2 px solid #1F54BC;
    border-radius: 2px;
    float: left;
    clear: right;
    height: 100px;
    width: 62px;
    margin-left: -20px;
    margin-top: -20px;
    margin-right: 6px;
}

.post .username {
    font-weight: bold;
}

.post .datetime {
    //float: right;

}

.post .text {
    margin: 8px;
    padding: 6px;
}

.PostContainer {
    background-color: #FFF000;
}
/*
.PostContainer li:nth-child(even) {
	background-image: url(images/bgs/forumbg2.png);
}
.PostContainer li:nth-child(odd) {
	background-image: url(images/bgs/forumbg1.png);
}*/



/**** CategoryView *****/
.categoryContainerHead {
    background-image: url("images/bgs/headerbg.png");
    color: #FFFFFF;
    font-size: 20pt;
    height: 41px;
    line-height: 41px;
    padding-left: 5px;
}
.categoryContainerListHead {
    background-image: url("images/bgs/topbg.png");
}
.categoryContainerListHead p {
    padding-left: 5px;
}
.categoryContainerListHead div {
    color: #FFFFFF;
    font-size: 20pt;
    height: 43px;
    line-height: 43px;
}
.categoryView .title, .categoryView .newThreads, .categoryView .threads, .categoryView .posts {
    float: left;
}
.categoryView .title {
    width: 60%;
}
.categoryView .newThreads {
    width: 16%;
    border-right: 1px solid #ADB9C2;
    text-align: center;
}
.categoryView .threads {
    width: 14%;
    border-right: 1px solid #ADB9C2;
    text-align: center;
}
.categoryView .posts {
    width: 9%;
    text-align: center;
}

.subForum li:nth-child(2n) {
    background-image: url("images/bgs/forumbg2.png");
}
.subForum li:nth-child(2n+1) {
    background-image: url("images/bgs/forumbg1.png");
}
.subForum .title, .subForum .newThreads, .subForum .threads, .subForum .posts {
    height: 65px;
}
.subForum .title {
    border-right: 1px solid #ADB9C2;
    font-size: 20pt;
}
.subForum .title p {
    padding-left: 10px;
}
.subForum .newThreads p {
    font-size: 20pt;
    line-height: 65px;
}
.subForum .threads {
    font-size: 20pt;
    line-height: 65px;
}
.subForum .posts {
    font-size: 20pt;
    line-height: 65px;
}

/*********PostContainer********************/
/*
.post {
    float: left;
    display: block;
    border-radius: 15px;
    clear: left;
    background-color: #ADB9C2;
   border: lined;
   // border-width: 50px;
   // border-image: url(images/bordertest.png) 50 50 50 50 repeat;
}

.post div {
    padding-top: 20px;
}

.post .avatar {
    float: left;
    height: 100px;
    width: 60px; 
    padding-left: -10px;
}

.postContainer ul {
    background-color: #FF0000;
    padding-bottom: 20px;
}
*/